@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');


/*
superdark: rgb(30, 31, 32);
dark: rgb(83, 83, 83);
container: rgb(35, 36, 37);
accent: #DAA520 'GoldenRod


*/


body {
  background-color:rgb(30, 31, 32);
  font-family: 'Roboto';
  margin-left:0;
}

a {
  text-decoration: none;
  color:mediumorchid;
}

a:visited {
  color:mediumorchid;
}

button {
  background-color:rgb(35, 36, 37);
  border:1px solid rgb(83, 83, 83) ;
  border-radius:5px;
  padding:0.5rem;
  color:white;
  font-weight:700;
  transition-duration: 500ms;
}

button:hover {
  background-color: rgb(83, 83, 83);
}

input[type="text"], textarea {
  border-radius:5px;
  background-color:rgb(35, 36, 37);
  border:1px solid rgb(83, 83, 83) ;
  padding:0.5rem;
  color:white;
}


.App {
  width:50rem;
  margin:auto;
  margin-top:2rem;
}

.Nav {
  margin-bottom: 2rem;
  display:flex;
  align-items:baseline;
  gap:3rem;
}

.Nav h1 {
  color:white;
  margin:0;
  font-size:4rem;
  text-shadow: 0px 0.4rem rgb(125, 125, 125);

  
}

.Nav h1 b {
  color:mediumorchid;
  font-size:3.5rem;
  text-shadow:none;
}

.Nav h2 b {
  color:mediumorchid;
  font-size:2.5rem;
  padding-right:0.25rem;
  text-shadow:none;
}

.Nav li {
  list-style-type: none;
  display:flex;
  height:fit-content;
  align-items:center;
  gap:1.5rem;
}

.Nav li h2 {
  margin:0;
  font-size:2.5rem;
  color: white;
  text-shadow: 0px 0.3rem rgb(125, 125, 125);
}

.Nav i {
  display:none;
}

.Nav li .socials {
  display:flex;
  align-items:center;
  height:fit-content;
  gap:1rem;
}

.Container {
  background-color:rgb(35, 36, 37);

  display:flex;
  padding:1rem;
  border:1px solid rgb(83, 83, 83);
  border-radius:5px;
  gap: 2rem;
  align-items: center;
  width:100%;
  margin-top:1rem;
  margin-bottom: 1rem;
  transition: 250ms ease-in-out
}

.Container:hover {
  /* box-shadow:5px 5px 15px 5px mediumorchid; */
  border:1px solid mediumorchid;
}

.Container h1, .Post h1 {
  color: white;
  margin:0;
}

.Container h2, .Post h2 {
  color : lightgray;
  margin:0;
}

.Container h3, .Post h3 {
  margin:0;
  color:rgb(141, 141, 141)
}

.Container header {
  display:flex;
  flex-direction: column;
  height:fit-content;
}


.Container header h3 {
  color:orchid;

}

.Container img {
  width: 10rem;
  border-radius: 5px;
}

.Post {
  padding:1rem;
  border:1px solid rgb(83, 83, 83);
  background-color:rgb(35, 36, 37);

  border-radius:5px;
  width:100%;
}

.Post .markdown {
  color:white;
}

.Post header{
  margin-bottom:1rem;
}

.Post header h3 {
  color:orchid;
}


.Post img {
  width:80%;
  margin-top:1rem;
  margin-bottom:1rem;
  border-radius:5px;
}

.Post .markdown img {
  width: 80%;
}

.Post .markdown td,th {
  border:1px solid white;
  padding:0.5rem;
}

.Post .markdown table {
  border-collapse: collapse;
}

.Post .markdown a {
  color:orchid;
  text-decoration: underline;
}

.Console {
  background-color:rgb(35, 36, 37);
  padding:1rem;
  border:1px solid rgb(83, 83, 83);
  border-radius:5px;
  display:flex;
  flex-direction: column;
}

.Console input[type="text"], textarea{
  margin-top:0.5rem;
  margin-bottom:0.5rem;
  width:80%;
}

.Console textarea {
  height:15rem;
}

.Console h1 {
  color:white;
  margin:0;
}

.ManagePosts, .ManageMedia, .NewPost, .UploadMedia, .password-container {
  margin-top:1rem;
  margin-bottom:1rem;
}

.ManagePosts {

}

.Console h3 {
  color:white;
  margin:0;
}

.Console .password-container footer{
  display:flex;
  gap:1rem;
  align-items: center;
}

.ManageMedia {
  display:flex;
  gap:1rem;
  flex-wrap:wrap;
}



.ManageMedia .Media img {
  width:10rem;
}

.ManageMedia .Media .default {
  border:1px solid rgb(83, 83, 83);
  padding:1rem;
}

.ManageMedia .Media {
  position: relative;
  height:fit-content;
}

.ManageMedia .Media footer {
  position: absolute;
  bottom:0;
  display:flex;
  gap:0.5rem;
}

.ManageMedia .Media footer button {
  padding:0.25rem;
}

@media (max-width: 600px) {
  .App {
    max-width:90%;
    min-width:275px;
  }

  .Nav li {
    /* display:none; */
    flex-basis:100;
    border-left:1px solid rgb(83, 83, 83);
    padding-left:1rem;
    flex: 1 0 50%;
  }

  .Nav li h2 {
    font-size:2.5rem;
  }

  .Nav h1 {
    font-size:3rem;
  }

  .Nav i {
    display:block;
    transition:transform 250ms ease-in-out;
  }

  .opened {
    transform:rotate(90deg);

  }

  .Nav {
    justify-content: space-between;
    align-items:end;
    gap:0;
    flex-wrap:wrap;
  }

  .Container {
    padding:1rem;
    width:90%;
    flex-direction: column;
    align-items:baseline;
  }

  .Container img {
    width:100%;
  }

  .Post {
    width:90%;
  }

}